NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

SUPABASE_SERVICE_ROLE_KEY=__SET_IN_VERCEL__
VAPI_API_KEY=__SET_IN_VERCEL__
PLAID_CLIENT_ID=__SET_IN_VERCEL__
PLAID_SECRET=__SET_IN_VERCEL__

NEXT_PUBLIC_APP_URL=
